body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; /* Ensure a column layout */
    height: 100vh;
    background-image: url('../images/dice_background.png');
    /* background-image: opacity(0.8); */
}

#story-container {
    background-color: #16361C;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
}

#story-text {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
}

#choiceButton1,
#choiceButton2 {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

#choiceButton1 {
    background-color: #DE9709;
    color: #fff;
    margin-bottom: 5px;
}

#choiceButton2 {
    background-color: #DE9709;
    color: #fff;
    margin-top: 5px;
}


#choiceButton3 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    border: 2px solid #4CAF50; /* Green border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add a pointer on hover */
    transition: background-color 0.3s, color 0.3s;
  }
  
  #startButton:hover {
    background-color: white;
    color: #4CAF50;
  }
  

#choiceButton1:hover, #choiceButton2:hover {
    background-color: #930C10; /* Darker background color on hover */
    transform: translateY(-5px); /* Lift up 5 pixels on hover */
}

#scenario-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height:100vh;
    margin-bottom: 20px;  /* Adjust margin as needed */
    border-radius: 8px;  /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Optional: Add a subtle shadow */
}

.link-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #DE9709;;
    color: white;
    border: 2px solid #930C10;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.link-button:hover {
    background-color: #930C10;
    color: #fff;
}

.link-container {
 flex-direction: column;
 flex-wrap: wrap;
 justify-self: unset;
    align-self: center;
    justify-content: center;
}

#citation {
    font-size: 19px;
    color: #000000;
    margin-top: 20px;
    background-color: #d3c4c4;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}
